{% extends 'products/base.html' %}

{% block content %}
    <h1 class="my-4 d-flex justify-content-center">
        <small>Bhagat Bingh Libary Management </small>    
    </h1>
    {% if user.is_authenticated %}
    <div class="p-3">
    <a class="btn btn-outline-info btn-md " href="{% url 'product_new' %}">+ New Product</a> 
    </div> 
     {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
    {% if object_list %}
    
        <div class="col-12 " style="overflow-x: scroll">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>

                    {% if user.is_authenticated %}
                    <th scope="col">View</th>
                    <th scope="col">Delete</th>
                    {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for product in object_list %}
                <tr>
                    <td><a href="{{ product.link }}" target="_blank"> {{ product.name }}</a></td>
                    <td>{{ product.author }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    {% if user.is_authenticated %}
                    <td><a href="{% url 'product_view' product.id %}"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></td>
                    <td><a href="{% url 'product_delete' product.id %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
    {% if user.is_authenticated %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            There is no product, yet. But if you want, you can add from <a class="badge badge-info" href="{% url 'product_new' %}"><strong>here.</strong></a>
        </div>
    </div>
    {% endif %}
    {% endif %}
    </div>
{% endblock %}